<h3>Home</h3>

<div>
    <form [formGroup]="homeForm" novalidate>
        <div>
            <label class="center-block">Email:
                <input formControlName="email" (keydown)="emailLog($event)">
            </label>
            <label class="center-block">Country:
                <p-autoComplete
                    [(ngModel)]="country"
                    formControlName="country"
                    [suggestions]="filteredCountries"
                    (completeMethod)="filterCountries($event)"
                    (onSelect)="selectCountry($event)"

                >
                    <ng-template let-country pTemplate="item">
                        {{country.title}}
                    </ng-template>
                </p-autoComplete>
            </label>
        </div>

        <button
            class="btn btn-default"
            [disabled]="homeForm.invalid"
            (click)="signIn()"
        >
            Sign in
        </button>

    </form>
</div>